main {
	display: grid;
	grid-template-columns: 12.25rem minmax(0,1fr);
	grid-template-areas: "sidebar content";
	column-gap: 24px;
}

#sidebar {
	margin-top: 2.8rem;
	grid-area: sidebar;
	padding: 0 1.5rem;
}

#sidebar_sticky{
	overflow: hidden auto;
	position: sticky;
	top: 24px;
	box-sizing: border-box;
	max-height: calc(100vh - (24px * 2));
}

#sidebar_head {
	line-height: 1.6;
	border-bottom: 1px solid #eaecf0;
	text-align: center;
}

#content {
	grid-area: content;
	margin-right: 2rem;
}

#main_title {
	font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif;
	line-height: 1.375;
	font-weight: normal;
	color: #101418;
	border-bottom: 1px solid #b9bec4;
}

#sidebar_toc {
	margin: 0;
	padding-left: 0;
}

.toc_list_item {
	list-style-type: none;
	position: relative;
	padding-left: 12px;
	font-size: 0.875rem;
	margin: 0.7rem auto;
}

h2 {
	font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif;
	line-height: 1.375;
	font-weight: normal;
	border-bottom: 1px solid #b9bec4;
}

p {
	margin: 0.5em 0 1em 0;
	font-size: 0.875rem;
	line-height: 1.57;
}

ul > li {
	font-size: 0.875rem;
	line-height: 1.57;
}

.hatnote {
	font-style: italic;
	padding-left: 1.6em;
	margin-bottom: 0.5em;
	font-size: 0.875rem;
}

figure {
	display: table;
	clear: right;
	float: right;
	margin: 0.5em 0 1.3em 1.4em;
	border: 1px solid #d5d8dc;
	background-color: #f8f9fa;
  border-collapse: collapse;
	border-bottom: 0;
  line-height: 0;
  padding: 6px 6px 0 6px;
}

figure > a > img {
	margin: 3px;
	height: auto;
	vertical-align: middle;
	border: 1px solid #d4d7db;
}

figcaption {
	display: table-caption;
	border: 1px solid #d5d8dc;
	background-color: #f8f9fa;
	border-top: 0;
  caption-side: bottom;
	font-size: 0.875rem;
	font-family: sans-serif;
  line-height: 1.4em;
  word-break: break-word;
  text-align: start;
  padding: 0 6px 6px 6px;
}
